<!-- app/views/dashboard/index.html.erb -->

<h1>Dashboard</h1>

<h1>Favorite Movies</h1>

<% favorite_movies = current_user.user_movie_lists.where(is_favorite: true).map(&:movie) %>
<%= render partial: 'dashboard_movie_cards', locals: { movies: favorite_movies } %>

<h2>Watchlist Movies</h2>

<% watchlist_movies = current_user.user_movie_lists.where(watchlist: true).map(&:movie) %>
<%= render partial: 'dashboard_movie_cards', locals: { movies: watchlist_movies } %>
