<!-- Genre Dropdown -->
<li class="nav-item dropdown">
  <%= link_to "Genre", "#", class: "nav-link dropdown-toggle", id: "genreDropdown", role: "button", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu" aria-labelledby="genreDropdown">
    <% Genre.all.each do |genre| %>
      <%= link_to genre.name, root_path(genre: genre.name), class: "dropdown-item" %>
    <% end %>
  </div>
</li>

<!-- Mood Dropdown -->
<li class="nav-item dropdown">
  <%= link_to "Moods", "#", class: "nav-link dropdown-toggle", id: "moodDropdown", role: "button", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu" aria-labelledby="moodDropdown">
    <% MoodTag.all.each do |mood_tag| %>
      <%= link_to mood_tag.name, root_path(mood: mood_tag.name), class: "dropdown-item" %>
    <% end %>
  </div>
</li>
